<!-- src/app/cart/cart.component.html -->
<div *ngIf="loading">Loading cart...</div>
<div *ngIf="!loading && cart.items.length === 0">Your cart is empty.</div>
<div *ngIf="!loading && cart.items.length > 0">
  <h2>Your Cart</h2>
  <ul>
    <li *ngFor="let item of cart.items">
      <div>
        <h3>{{ item.productId.name }} - ${{ item.productId.price }}</h3>
        <button (click)="decreaseQuantity(item.productId._id, item.quantity)">-</button>
        <span>{{ item.quantity }}</span>
        <button (click)="increaseQuantity(item.productId._id, item.quantity)">+</button>
        <button (click)="removeItem(item.productId._id)">Remove</button>
      </div>
    </li>
  </ul>  
  <h3>Total purchase : ${{ getTotalPurchase() }}</h3>

  <button (click)="clearCart()">Clear Cart</button>
</div>


